@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background: whitesmoke;
    height: 100vh;
    overflow: hidden;
}

#root {
    height: 100vh;
}

header {
    text-align: center;
}

.title {
    margin: 5px;
    font-size: 3em;
}

.container {
    display: flex;
    padding: 0 10px 0 0;
    height: 100%;
}

.panel {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: whitesmoke;
    width: 20vw;
    height: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.panel h1 {
    text-align: center;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
}

.listElements {
    padding: 5px;
    width: 100%;
}

.canvas {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: hidden;
}

.canvas #svg {
    position: relative;  
    left: -1000px;
    top: -1000px;
}

.canvas-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.form-container {
    padding: 5px;
}

.elementButton {
    width: 100%;
    height: 75px;
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.element{
    cursor: pointer;
}

.element-moving {
    border: dashed #0ccafa;
}

.element-moving > *:not(rect) {
    stroke: gray;
}


#dragImage {
    display: flex;
    position: absolute;
    z-index: -1;
}





